<div class="bento-card span-12 footer-card glow-purple">

    <div class="footer-top">
        <div>
            <h2 style="font-size: 1.2rem; margin-bottom: 15px; color: var(--accent-purple);">Проекты и сборка</h2>
            <ul class="service-list">
                <li><a href="projects.html">Реализованные проекты</a></li>
                <li><a href="shields.html">Отгруженные щиты</a></li>
                <li><a href="calculator.html">Расчет стоимость</a></li>
            </ul>
        </div>
        <div>
            <h2 style="font-size: 1.2rem; margin-bottom: 15px; color: var(--accent-blue);">Щит умного дома</h2>
            <ul class="service-list">
                <li><a href="wirenboard.html">WirenBoard</a></li>
                <li><a href="setup.html">Пусконаладочные работы</a></li>
                <li><a href="hybrid.html">Без штробления стен</a></li>
            </ul>
        </div>
        <div>
            <h2 style="font-size: 1.2rem; margin-bottom: 15px; color: var(--accent-green);">Информация</h2>
            <ul class="service-list">
                <li><a href="">О мастерской</a></li>
                <li><a href="contacts.html">Реквизиты и контакты</a></li>
                <li><a href="delivery.html">Доставка по всей РФ</a></li>
            </ul>
        </div>
        <div>
            <h2 style="font-size: 1.2rem; margin-bottom: 15px; color: var(--accent-red);">Ресурсы</h2>
            <ul class="service-list red-dots">
                <li><a href="https://www.youtube.com/@serg.chaynikov_electrician/">Youtube</a></li>
                <li><a href="https://vk.ru/club236736535">ВКонтакте</a></li>
                <li><a href="https://www.instagram.com/serg.chaynikov">Instagram</a></li>
            </ul>
        </div>
    </div>

    <div class="footer-divider"></div>

    <div class="footer-bottom">
        <div class="footer-left">
            <div class="footer-copyright">© 2026 <span class="footer-domain">SergChaynikov.ru</span> Электромастерская Сергея Чайникова</div>
            <div class="footer-legal">ИНН: 180301272770 | Любое копирование материалов запрещено</div>
        </div>

        <div class="footer-right">
            <a href="https://batyushin.ru/" target="_blank" class="designer-link">
                <span class="designer-text">DESIGNED BY <span class="red-word">ReD</span></span>
                <span class="designer-city">from Lugansk</span>
            </a>
        </div>
    </div>

</div>